*.swp
*.o
*.pyc
*.code-workspace
ncd
tags
output
.idea/
.vscode/
*.ASC
*.mat
*.csv
*.png
*.PNG
*.svg
*.SVG
*.obj
.mypy_cache/
.pytest_cache/
__pycache__/
*.npy
*.npz
*.json
*.nfs*
*.xml
*.ncd
data/
results/2019*/
results/2020*/
!results/for_article
!results/for_article/*
*.mp4
*.pdf
datajoint/
*egg*
docs/_build/*
**/.ipynb_checkpoints/
dask-worker-space/
*.txt
results/for_article/neuron_id.svg
*~
*.hdf
*.hdf5
*.h5
.vim/
**/*.zarr
*.blend
*.pickle
results/for_article/neuron_id_20200729.svg
