*.swp
*.o
*.pyc
*.code-workspace
ncd
tags
output
.idea/
.vscode/
*.ASC
*.mat
*.csv
*.png
*.PNG
*.svg
*.SVG
Eigen
*.obj
.mypy_cache/
.pytest_cache/
__pycache__/
*.npy
*.npz
*.json
*.nfs*
*.xml
*.ncd
data/
results/2019*/
!results/for_article
!results/for_article/*
*.mp4
*.pdf
datajoint/
*egg*
docs/_build/*
**/.ipynb_checkpoints/
dask-worker-space/
results/for_article/neuron_id.svg